.fg-bg{color:#000000 !important;}
.bg-bg{background:#000000 !important;}
.fg-fg{color:#ffffff !important;}
.bg-fg{background:#ffffff !important;}
.fg-0{color:#000000 !important;}
.bg-0{background:#000000 !important;}
.fg-1{color:#cc0403 !important;}
.bg-1{background:#cc0403 !important;}
.fg-2{color:#19cb00 !important;}
.bg-2{background:#19cb00 !important;}
.fg-3{color:#cecb00 !important;}
.bg-3{background:#cecb00 !important;}
.fg-4{color:#001cd1 !important;}
.bg-4{background:#001cd1 !important;}
.fg-5{color:#cb1ed1 !important;}
.bg-5{background:#cb1ed1 !important;}
.fg-6{color:#0dcdcd !important;}
.bg-6{background:#0dcdcd !important;}
.fg-7{color:#e5e5e5 !important;}
.bg-7{background:#e5e5e5 !important;}
.fg-8{color:#4d4d4d !important;}
.bg-8{background:#4d4d4d !important;}
.fg-9{color:#3e0605 !important;}
.bg-9{background:#3e0605 !important;}
.fg-10{color:#23fd00 !important;}
.bg-10{background:#23fd00 !important;}
.fg-11{color:#fffd00 !important;}
.bg-11{background:#fffd00 !important;}
.fg-12{color:#0026ff !important;}
.bg-12{background:#0026ff !important;}
.fg-13{color:#fd28ff !important;}
.bg-13{background:#fd28ff !important;}
.fg-14{color:#14ffff !important;}
.bg-14{background:#14ffff !important;}
.fg-15{color:#ffffff !important;}
.bg-15{background:#ffffff !important;}
